@charset "UTF-8";
/* СБРОС СТИЛЕЙ */
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img, svg {
  display: block;
  height: auto;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ПЕРЕМЕННЫЕ */
/* LAYOUT */
html {
  overflow-x: hidden;
}

body {
  color: #373737;
  display: flex;
  flex-direction: column;
  font-family: "TT Commons", sans-serif;
  overflow-x: hidden;
  position: relative;
}
body.no-scroll {
  overflow: hidden;
  max-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

.section {
  padding: 0 20px;
  width: 100%;
}
.section__h2 {
  color: #3A3A3A;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
}
.section__divider {
  background: #E10000;
  height: 1px;
  margin: 1px 0;
  position: relative;
  width: 100px;
}
.section__divider::before {
  background: #E10000;
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  height: 3px;
  width: 30px;
}
.section__description {
  color: #3A3A3A;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 15px;
}
.section__view-all {
  align-items: center;
  display: flex;
  margin-top: 24px;
  margin-left: auto;
  text-decoration: none;
  width: fit-content;
}
.section__view-all span {
  color: #6B6B6B;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin-right: 5px;
}
.section__view-all img {
  height: 13px;
  width: 22px;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  width: 100%;
}
.container.with-sidebar {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 283px 1fr;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.mount {
  background: rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.mount.active {
  display: block;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.layout {
  display: flex;
  flex-shrink: 0;
  min-height: calc(100vh - 100.52px);
}
.layout__content {
  display: flex;
  flex-direction: column;
  padding-left: 348px;
  position: relative;
  width: 100%;
}

.main {
  flex-grow: 1;
  padding-bottom: 22.5px;
}

.footer {
  flex-shrink: 0;
}

/* СТИЛИ ДЛЯ СЛАЙДЕРА */
.slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.slick-dots li {
  margin-right: 5px;
}
.slick-dots li.slick-active button {
  background: #B0B0B0;
}
.slick-dots button {
  background: #D8D8D8;
  border: none;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
  height: 10px;
  width: 10px;
}
.slick-arrow {
  border: none;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 29px;
  width: 29px;
  z-index: 1;
}
.slick-prev {
  background: url("../img/slider_arrow_left.svg") no-repeat;
  background-size: contain;
  left: 16px;
}
.slick-next {
  background: url("../img/slider_arrow_right.svg") no-repeat;
  background-size: contain;
  right: 16px;
}

/* СТИЛИ ДЛЯ БЛОКОВ */
.header {
  background: url("../img/header_bg.jpg") repeat-x;
  background-size: cover;
  border-bottom: 1px solid #E10000;
  box-shadow: 0px 1px 9px 6px rgba(0, 0, 0, 0.25);
  display: grid;
  flex-shrink: 0;
  grid-template-columns: 348px 1fr;
  position: relative;
}
.header__logo {
  align-items: center;
  border-right: 1px solid rgba(218, 218, 218, 0.2);
  display: flex;
  padding: 25px 73px 25px 69px;
}
.header__container {
  width: 100%;
}
.header__top {
  align-items: center;
  border-bottom: 1px solid #E10000;
  display: flex;
  justify-content: space-between;
  padding: 19px 27px 16px 25px;
  width: 100%;
}
.header__mobile-logo {
  display: none;
}
.header__nav ul {
  display: flex;
  margin: 0;
  padding-left: 0;
}
.header__nav li {
  list-style: none;
  padding-right: 28px;
  position: relative;
}
.header__nav li + li {
  padding-left: 32px;
  position: relative;
}
.header__nav li + li:before {
  background: #E10000;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  height: 3.49px;
  width: 3.49px;
}
.header__nav a {
  color: #9A9A9A;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  text-decoration: none;
}
@media screen and (min-width: 1600.01px) {
  .header__nav-dropdown {
    background: #232323;
    box-shadow: inset 0px 3px 12px rgba(0, 0, 0, 0.44);
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 16px + 1px);
    left: -25px;
    width: 183px;
    z-index: 100;
  }
  .header__nav-dropdown.active {
    display: flex;
  }
  .header__nav-dropdown a {
    color: #E8E8E8;
    font-weight: 500;
    font-size: 14px;
    line-height: 176.99%;
    padding: 5px 20px 3px;
    transition: 0.3s;
  }
  .header__nav-dropdown a:hover {
    color: #E10000;
  }
  .header__nav-dropdown a + a {
    border-top: 1px solid rgba(78, 78, 78, 0.42);
  }
}
.header__contacts {
  align-items: center;
  display: flex;
}
.header__contacts-divider {
  background: #FFFFFF;
  height: 20px;
  margin: 0 10px 0 8px;
  width: 1px;
}
.header__phone {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  margin-top: 3px;
}
.header__phone span {
  color: #777777;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
}
.header__callback {
  background: #8C0000 url("../img/callback_bg.svg") no-repeat right center;
  border: none;
  border-radius: 100px;
  padding: 5px 20px 3px;
  color: #FFFFFF;
  font-weight: 200;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  transition: 0.3s;
}
.header__callback:hover {
  background-color: #AD000D;
  background-position: right 2px top;
}
.header__burger {
  display: none;
}
.header__bottom {
  display: flex;
}
.header__catalog-toggle {
  display: none;
}
.header__search {
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(97, 97, 97, 0.39);
  display: flex;
  width: 100%;
}
.header__search input {
  background: transparent;
  border: none;
  padding: 0 15px;
  color: #FFFFFF;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
}
.header__search input::placeholder {
  color: #FFFFFF;
}
.header__search input:focus {
  outline: none;
}
.header__search button {
  background: none;
  border: none;
  padding: 0 21px;
  height: 100%;
  width: 60px;
}
.header__search button img {
  width: 100%;
}
.header__icon-link {
  padding: 8px 28px;
}
.header__icon-link a {
  display: block;
  position: relative;
}
.header__icon-link img {
  height: 100%;
  width: auto;
}
.header__icon-link div {
  background: #E10000;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  right: -11px;
  height: 18px;
  width: 18px;
}
.header__icon-link span {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
}
.header__icon-link + .header__icon-link {
  border-left: 1px solid #282828;
}

.catalog-nav {
  background: url("../img/catalog_nav_bg.jpg");
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 348px;
  z-index: 100;
}
.catalog-nav__logo {
  display: none;
}
.catalog-nav ul {
  margin: 0;
  padding: 35px 0 0 !important;
  padding: 0;
}
.catalog-nav__category {
  list-style: none;
  padding: 15px 15px 15px 42px;
  position: relative;
}
.catalog-nav__category a {
  align-items: center;
  display: flex;
  text-decoration: none;
  width: fit-content;
}
.catalog-nav__category img {
  margin-right: 20px;
  width: 28px;
}
.catalog-nav__category span {
  color: #606060;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  transition: 0.3s;
}
@media screen and (min-width: 1600.01px) {
  .catalog-nav > ul {
    border-right: 1px solid #DADADA;
    display: block;
    height: 100%;
  }
  .catalog-nav__logo {
    align-items: center;
    background: url(../img/header_bg.jpg) repeat-x;
    border-bottom: 1px solid #E10000;
    border-right: 1px solid rgba(218, 218, 218, 0.2);
    box-shadow: 0px 1px 9px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    height: 100.52px;
  }
  .catalog-nav__logo a {
    display: block;
  }
  .catalog-nav__logo a img {
    width: 205px;
  }
  .catalog-nav__close {
    display: none;
  }
  .catalog-nav__category:hover:after, .catalog-nav__category.active:after {
    background: url("../img/catalog_nav_triangle.svg") no-repeat right;
    content: "";
    position: absolute;
    top: 50%;
    right: -1px;
    transform: translateY(-50%);
    height: 32px;
    width: 16px;
  }
  .catalog-nav__category:hover img, .catalog-nav__category.active img {
    filter: brightness(0) saturate(100%) invert(16%) sepia(81%) saturate(4017%) hue-rotate(354deg) brightness(96%) contrast(85%);
  }
  .catalog-nav__category:hover span, .catalog-nav__category.active span {
    color: #a81818;
  }
  .catalog-nav__dropdown + .catalog-nav__category {
    position: relative;
  }
  .catalog-nav__dropdown + .catalog-nav__category:before {
    background: #E3E3E3;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 85px;
  }
  .catalog-nav__category:hover + .catalog-nav__dropdown, .catalog-nav__category.active + .catalog-nav__dropdown, .catalog-nav__dropdown:hover {
    display: flex;
  }
  .catalog-nav__dropdown {
    align-content: flex-start;
    background: #FFFFFF;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 42px 0 0 52px;
    position: fixed;
    top: 0;
    left: 348px;
    bottom: 0;
    max-height: 87vh;
    width: calc(96vw - 348px);
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .catalog-nav__subcategory {
    margin: 0 52px 42px 0;
    width: 224px;
  }
  .catalog-nav__header {
    color: #606060;
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 3px;
    position: relative;
    text-decoration: none;
    width: fit-content;
  }
  .catalog-nav__header::after {
    background: #E10000;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 1px;
    width: 80px;
  }
  .catalog-nav__link {
    color: #7D7D7D;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    position: relative;
    text-decoration: none;
    transition: 0.3s;
    width: fit-content;
  }
  .catalog-nav__link:nth-child(2) {
    margin-top: 10px;
  }
  .catalog-nav__link::before {
    background: url("../img/catalog_nav_arrow.svg") no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    top: 5px;
    left: -18px;
    transition: 0.3s;
    opacity: 0;
    height: 10.47px;
    width: 10.47px;
  }
  .catalog-nav__link:hover {
    color: #171717;
  }
  .catalog-nav__link:hover::before {
    opacity: 1;
  }
}

.footer {
  background: #1D1D1D;
  padding: 36px 55px 70px;
  position: relative;
}
.footer__buttons {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__btn {
  align-items: center;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 45px;
  transition: 0.3s;
  width: 45px;
}
.footer__btn + .footer__btn {
  margin-left: 10px;
}
.footer__btn img {
  transition: 0.3s;
  width: 24px;
}
.footer__btn:hover {
  background: #E10000;
}
.footer__btn:hover img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(307deg) brightness(103%) contrast(101%);
}
.footer__grid {
  display: flex;
  justify-content: space-between;
}
.footer__column {
  width: 100%;
}
.footer__column:nth-child(1) {
  max-width: 226px;
}
.footer__column:nth-child(2) {
  max-width: 226px;
}
.footer__column:nth-child(3) {
  max-width: 226px;
}
.footer__column:nth-child(4) {
  max-width: 292px;
}
.footer__column:nth-child(5) {
  max-width: 292px;
}
.footer__header {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
}
.footer__divider {
  background: #E10000;
  height: 1px;
  margin: 10px 0;
  width: 100px;
}
.footer__ul a {
  color: #8D8D8D;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  transition: 0.3s;
}
.footer__ul a:hover {
  color: #E10000;
}
.footer__logo {
  display: flex;
  margin-bottom: 14px;
  width: fit-content;
}
.footer__logo img {
  width: 151px;
}
.footer__phone {
  color: #FFFFFF;
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  transition: 0.3s;
  width: fit-content;
}
.footer__phone:hover {
  color: #E10000;
}
.footer__address {
  color: #8D8D8D;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin-top: 14px;
}

.furniture-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 21px;
  grid-row-gap: 23px;
}
.furniture-list + .furniture-list {
  margin-top: 23px;
}
.furniture-list__item {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.3s;
}
.furniture-list__item:hover {
  box-shadow: 0px 2px 15px 6px rgba(0, 0, 0, 0.1);
}
.furniture-list__slider {
  flex-shrink: 0;
  height: calc((100vw - 348px - 40px - 63px) / 4 * 0.788);
}
.furniture-list__slider .slick-dots {
  width: 100%;
}
.furniture-list__slider .slick-dots li {
  background: #8B8B8B;
  flex-grow: 1;
  height: 1px;
  margin-right: 3px;
}
.furniture-list__slider .slick-dots li.slick-active {
  background: #E10000;
}
.furniture-list__slider .slick-dots li:last-child {
  margin-right: 0;
}
.furniture-list__slider .slick-dots button {
  display: none;
}
.furniture-list__slider .slick-track, .furniture-list__slider .slick-list {
  height: 100%;
}
.furniture-list__slide {
  height: 100%;
}
.furniture-list__slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.furniture-list__sale {
  align-items: center;
  background: url("../img/furniture_list_sale.svg") no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 78px;
  width: 78px;
}
.furniture-list__sale span {
  color: #FFFFFF;
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  transform: rotate(45deg) translateY(-15px);
}
.furniture-list__info {
  border: 1px solid #DADADA;
  border-top: none;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 22px;
}
.furniture-list__title {
  color: #454545;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  transition: 0.3s;
}
.furniture-list__title:hover {
  color: #E10000;
}
.furniture-list__footer {
  margin-top: 13px;
}
.furniture-list__vendor-code {
  color: #A2A2A2;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.furniture-list__presence {
  color: #55934B;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.furniture-list__presence.missing {
  color: #E10000;
}
.furniture-list__bottom {
  align-items: flex-end;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 39px;
}
.furniture-list__price {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.furniture-list__current-price {
  color: #454545;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}
.furniture-list__old-price {
  color: #AEAEAE;
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
}
.furniture-list__old-price del {
  text-decoration-thickness: 1px;
}
.furniture-list__price-divider {
  background: #454545;
  margin: 0 11px 3px;
  height: 16px;
  width: 1px;
}
.furniture-list__cart {
  background: url("../img/furniture_list_cart.svg") no-repeat left 7px top 8px;
  background-size: 20px 21px;
  border: 1px solid #55934B;
  border-radius: 5px;
  height: 39px;
  width: 39px;
  transition: 0.3s;
}
.furniture-list__cart:hover {
  background-color: #55934B;
  background-image: url("../img/furniture_list_cart_white.svg");
}

.banner {
  margin-top: 21px;
}
.banner__slider {
  max-width: 100%;
  width: 100%;
}
.banner__slider .slick-dots {
  bottom: 13px;
}
.banner__slider .slick-dots li.slick-active button {
  background: url("../img/banner_active.svg") no-repeat;
  background-size: contain;
}
.banner__slider .slick-dots button {
  background: rgba(255, 255, 255, 0.6);
}
.banner__slide {
  height: 418px;
  position: relative;
}
.banner__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.banner__info {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 470px;
}
.banner__title {
  color: #D2D2D2;
  font-weight: 200;
  font-size: 30px;
  line-height: 1.133;
}
.banner__title span {
  color: #FFFFFF;
  display: block;
  font-weight: 700;
  font-size: 54px;
  line-height: 0.833;
  margin-top: 5px;
  position: relative;
  text-transform: uppercase;
}
.banner__description {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.167;
  margin-top: 10px;
}
.banner__description span {
  display: block;
  font-weight: 700;
  font-size: 54px;
  line-height: 0.87;
  margin-top: 5px;
}
.banner__btn {
  align-items: baseline;
  align-self: flex-end;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #E10000;
  border-radius: 20px;
  display: flex;
  padding: 6px 32px 3px;
  text-decoration: none;
  transition: 0.3s;
}
.banner__btn:hover {
  background: #E10000;
}
.banner__btn span {
  color: #FFFFFF;
  display: block;
  font-weight: 200;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.1em;
}
.banner__btn img {
  margin-left: 5px;
  height: 7px;
  width: 12px;
}

.news-cards {
  margin-top: 24px;
}
.news-cards__grid {
  display: grid;
  grid-gap: 22px;
  grid-template-columns: repeat(3, 1fr);
}
.news-cards__card {
  height: 287px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}
.news-cards__card:nth-child(4) {
  display: none;
}
.news-cards__card:hover .news-cards__img {
  transform: scale(1.05);
}
.news-cards__card:hover .news-cards__info {
  background: rgba(0, 0, 0, 0.7);
}
.news-cards__card:hover .news-cards__btn {
  background: #E10000;
}
.news-cards__card:hover .news-cards__btn span {
  color: #FFFFFF;
}
.news-cards__card:hover .news-cards__btn img {
  filter: invert(100%) sepia(100%) saturate(7%) hue-rotate(168deg) brightness(102%) contrast(106%);
}
.news-cards__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}
.news-cards__info {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 34px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.news-cards__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.95;
  text-transform: uppercase;
}
.news-cards__description {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1;
}
.news-cards__btn {
  align-items: baseline;
  align-self: flex-end;
  background: #FFFFFF;
  border: none;
  border-radius: 20px;
  display: flex;
  padding: 6px 32px 3px;
  text-decoration: none;
  transition: 0.3s;
}
.news-cards__btn span {
  color: #161616;
  display: block;
  font-weight: 200;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.1em;
  transition: 0.3s;
}
.news-cards__btn img {
  margin-left: 5px;
  transition: 0.3s;
  height: 7px;
  width: 12px;
}

.advantages {
  margin-top: 20px;
}
.advantages__divider {
  background: #D2D2D2;
  margin: 0 auto;
  height: 1px;
  width: 80%;
}
.advantages__container {
  display: flex;
  justify-content: space-around;
  margin-top: 46px;
}
.advantages__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 20px;
}
.advantages__item img {
  width: 113px;
}
.advantages__title {
  color: #272727;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 23px;
  text-align: center;
  text-transform: uppercase;
}
.advantages__description {
  color: #595959;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.sale {
  margin-top: 58px;
}
.sale__furniture-list {
  margin-top: 20px;
}

.partners {
  margin-top: 20px;
  padding-bottom: 10px;
}
.partners__slider {
  margin: 0 -20px;
}
.partners__slider img {
  margin: 0 20px;
}
.partners__slider .slick-dots {
  bottom: -10px;
}

.collections {
  margin: 60px 0 20px;
}
.collections__grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 56px;
}
.collections__item {
  background: #000000;
  display: block;
  position: relative;
  height: 287px;
  overflow: hidden;
}
.collections__item:hover img {
  opacity: 0.6;
  transform: scale(1.05);
}
.collections__item img {
  opacity: 0.5;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.collections__item span {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  position: absolute;
  top: 20px;
  left: 30px;
  bottom: 20px;
  right: 30px;
}

.content-header {
  margin-top: 23px;
}
.content-header__breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
.content-header__breadcrumbs a {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  transition: 0.3s;
}
.content-header__breadcrumbs a:not(:last-child) {
  color: #D2D2D2;
  margin-right: 4px;
}
.content-header__breadcrumbs a:not(:last-child)::after {
  color: #D2D2D2 !important;
  content: " \\";
}
.content-header__breadcrumbs a:last-child {
  color: #808080;
}
.content-header__breadcrumbs a:hover {
  color: #E10000;
}
.content-header__divider {
  background: #DFDFDF;
  height: 1px;
  max-width: 369px;
}
.content-header__h1 {
  color: #3A3A3A;
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  margin-top: 12px;
  padding-left: 17px;
  position: relative;
  text-transform: uppercase;
}
.content-header__h1::before {
  background: #E10000;
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  height: 23px;
  width: 7px;
}
.content-header__description {
  color: #D2D2D2;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin: -2px 0 7px;
}

.catalog-categories {
  margin-top: 19px;
}
.catalog-categories__list {
  background: #F3F3F3;
  border: 1px solid #D9D9D9;
  display: grid;
  grid-gap: 10px 30px;
  grid-template-columns: repeat(auto-fit, 160px);
  padding: 36px 23px;
  position: relative;
}
.catalog-categories__list.active {
  max-height: unset;
}
.catalog-categories__list.active .catalog-categories__more {
  transform: rotate(360deg);
}
.catalog-categories a {
  display: block;
  padding-left: 12px;
  text-decoration: none;
  width: fit-content;
}
.catalog-categories a:hover .catalog-categories__name, .catalog-categories a.active .catalog-categories__name {
  color: #4B4B4B;
}
.catalog-categories a.active {
  position: relative;
}
.catalog-categories a.active::before {
  background: url("../img/triangle.svg") no-repeat;
  content: "";
  position: absolute;
  top: 1px;
  left: -7px;
  transform: rotate(90deg);
  height: 10.47px;
  width: 10.47px;
}
.catalog-categories__name {
  color: #7D7D7D;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.catalog-categories__count {
  color: #A7A7A7;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}
.catalog-categories__more {
  background: #F3F3F3 url("../img/triangle.svg") no-repeat center;
  background-size: 15.47px;
  border: none;
  display: none;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
  height: 36px;
  width: 100%;
}

.list-with-pagination {
  margin-top: 24px;
}
.list-with-pagination__header {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.list-with-pagination__filter {
  align-items: center;
  background: none;
  border: none;
  display: flex;
}
.list-with-pagination__filter img {
  margin-right: 9px;
  height: 14px;
  width: 14px;
}
.list-with-pagination__filter span {
  color: #3A3A3A;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}
.list-with-pagination__pagination {
  align-items: center;
  display: flex;
}
.list-with-pagination__arrow {
  height: 11px;
  width: 19px;
}
.list-with-pagination__page-number {
  color: #858585;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  padding: 0 6px;
  text-decoration: none;
  transition: 0.3s;
}
.list-with-pagination__page-number.active, .list-with-pagination__page-number:hover {
  color: #232323;
}
.list-with-pagination__furniture-list {
  margin-top: 22px;
}
.list-with-pagination__footer {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr auto 1fr;
  margin: 15px 0 25px;
}
.list-with-pagination__footer .list-with-pagination__pagination {
  justify-self: right;
}
.list-with-pagination__more {
  border: 1px solid #B8B8B8;
  border-radius: 25px;
  color: #828282;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 10px 20px 6px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}
.list-with-pagination__more:hover {
  background: #E10000;
  border: 1px solid #E10000;
  color: #FFFFFF;
}

.modal {
  align-items: center;
  display: none;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.modal.active {
  display: flex;
}
.modal__mount {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal__border {
  border: 1px solid #FFFFFF;
  padding: 16px;
  max-height: 100vh;
  max-width: 582px;
  overflow: auto;
  width: 100%;
}
.modal__body {
  align-items: center;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 45px 28px 30px;
  position: relative;
  z-index: 1001;
}
.modal__close {
  background: url(../img/close.svg) no-repeat;
  background-size: contain;
  border: none;
  position: absolute;
  top: 18px;
  right: 16.62px;
  height: 16.38px;
  width: 16.38px;
}
.modal__title {
  color: #3A3A3A;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}
.modal__divider {
  background: #E10000;
  height: 1px;
  max-width: 369px;
  width: 100%;
}
.modal__inner-text {
  color: #373737;
  font-size: 16px;
  line-height: 18px;
  margin-top: 20px;
}

.callback-modal__form {
  width: 100%;
}
.callback-modal__form label {
  color: #616161;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 125.99%;
  margin-top: 30px;
}
.callback-modal__form label span {
  color: #E10000;
}
.callback-modal__form input {
  background: #F8F8F8;
  border: 1px solid #B1B1B1;
  font-size: 20px;
  padding: 10px 15px;
  height: 54px;
  width: 100%;
}
.callback-modal__btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 47px auto 0;
  max-width: 391px;
  width: 100%;
}
.callback-modal__btn button {
  background: #E10000;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 148.99%;
  padding: 8px 0 5px;
  text-align: center;
  letter-spacing: 0.1em;
  width: 100%;
}
.callback-modal__btn p {
  color: #929292;
  font-weight: 400;
  font-size: 18px;
  line-height: 125.99%;
  margin-top: 9px;
}
.callback-modal__btn p a {
  color: #595959;
}

.news-list {
  margin-top: 34px;
}
.news-list__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 17px 33px;
}
.news-list__card {
  border: 1px solid #B1B1B1;
  padding: 11px 12px;
  display: flex;
  flex-direction: column;
}
.news-list__card:hover .news-list__footer a {
  color: #E10000;
}
.news-list__img {
  height: calc(((100vw - 348px - 40px - 99px) / 4 - 24px) * 0.739);
}
.news-list__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.news-list__text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 21px;
}
.news-list__title {
  color: #373737;
  font-weight: 600;
  font-size: 20px;
  line-height: 114.49%;
}
.news-list__description {
  color: #373737;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 20px;
}
.news-list__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}
.news-list__footer span {
  color: #959595;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.news-list__footer a {
  color: #959595;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  text-decoration-line: underline;
  transition: 0.3s;
}

.checkout {
  display: grid;
  grid-gap: 31px;
  grid-template-columns: 1fr 519px;
  margin: 35px 0 30px;
}
.checkout__title {
  color: #A6A6A6;
  font-weight: 400;
  font-size: 24px;
  line-height: 125.99%;
}
.checkout__form form {
  border: 1px solid #B1B1B1;
  margin-top: 8px;
  padding: 24px 28px 28px;
}
.checkout__form form label:first-child {
  margin-top: 0;
}
.checkout__form form textarea {
  background: #F8F8F8;
  border: 1px solid #B1B1B1;
  font-size: 20px;
  resize: none;
  padding: 10px 15px;
  height: 158px;
  width: 100%;
}
.checkout__btn {
  align-items: flex-start;
  display: flex;
  flex-direction: row-reverse;
}
.checkout__btn button {
  background: #E10000;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 148.99%;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 6px 0 3px;
  max-width: 391px;
  width: 100%;
}
.checkout__btn p {
  color: #929292;
  font-weight: 400;
  font-size: 18px;
  line-height: 125.99%;
  margin-right: 27px;
  text-align: right;
  max-width: 360px;
}
.checkout__btn p a {
  color: #595959;
}
.checkout__list {
  border: 1px solid #B1B1B1;
  padding: 19px 21px 4px;
  margin-top: 8px;
}
.checkout__item {
  align-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 96px 151px auto 1fr;
  margin-bottom: 15px;
}
.checkout__item + .checkout__item {
  border-top: 1px solid #EEEEEE;
  padding-top: 15px;
}
.checkout__img {
  border: 1px solid #D0D0D0;
  height: 64px;
}
.checkout__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.checkout__name {
  color: #373737;
  font-weight: 600;
  font-size: 16px;
  line-height: 114.49%;
}
.checkout__vendor-code {
  color: #373737;
  font-weight: 400;
  font-size: 14px;
  line-height: 125.99%;
}
.checkout__count {
  color: #454545;
  font-weight: 600;
  font-size: 14px;
  line-height: 73.5%;
}
.checkout__price {
  justify-self: flex-end;
  width: fit-content;
}
.checkout__price del {
  color: #ADADAD;
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
}
.checkout__price span {
  color: #454545;
  font-weight: 600;
  font-size: 20px;
  line-height: 73.5%;
}

.cart {
  margin: 36.5px 0 30px;
}
.cart__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}
.cart__item {
  align-items: center;
  border: 1px solid #B1B1B1;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 235px 1fr auto 245px;
  padding: 27px 26px;
  position: relative;
}
.cart__delete {
  position: absolute;
  top: 14px;
  right: 14px;
}
.cart__delete img {
  height: 16.38px;
  width: 16.38px;
}
.cart__img {
  height: 157px;
}
.cart__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.cart__name {
  color: #373737;
  font-weight: 600;
  font-size: 20px;
  line-height: 114.49%;
}
.cart__vendor-code {
  color: #373737;
  font-weight: 400;
  font-size: 18px;
  line-height: 125.99%;
}
.cart__count {
  align-items: center;
  border: 1px solid #B1B1B1;
  display: flex;
}
.cart__count a {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 32px;
  width: 32px;
}
.cart__count a img {
  width: 13px;
}
.cart__count span {
  color: #868686;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  margin-top: 2px;
}
.cart__price {
  margin-left: 26px;
}
.cart__price del {
  color: #ADADAD;
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 1;
  text-decoration-thickness: 1px;
}
.cart__price span {
  color: #454545;
  font-weight: 600;
  font-size: 26px;
  line-height: 118%;
}
.cart__checkout {
  border: 1px solid #E10000;
  border-radius: 100px;
  color: #333333;
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 148.99%;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 8px 0 5px;
  margin: 30px 0 0 auto;
  text-decoration: none;
  max-width: 391px;
  width: 100%;
  transition: 0.3s;
}
.cart__checkout:hover {
  background: #E10000;
  color: #FFFFFF;
}

.product {
  align-items: flex-start;
  display: grid;
  grid-gap: 34px 45px;
  grid-template-columns: 1fr 480px;
  margin-top: 19px;
}
.product__gallery {
  border: 1px solid #B1B1B1;
  padding: 28px;
}
.product__slider {
  position: relative;
}
.product__slider .slick-dots {
  margin-top: 2px;
  width: 100%;
}
.product__slider .slick-dots li {
  background: #C4C4C4;
  border-radius: 100px;
  flex-grow: 1;
  height: 3px;
  margin-right: 3px;
}
.product__slider .slick-dots li.slick-active {
  background: #E10000;
}
.product__slider .slick-dots li:last-child {
  margin-right: 0;
}
.product__slider .slick-dots button {
  display: none;
}
.product__slider .slick-arrow {
  border: none;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 29px;
  width: 29px;
  z-index: 1;
}
.product__slider .slick-prev {
  background: url("../img/slider_arrow_left.svg") no-repeat;
  background-size: contain;
  left: 16px;
}
.product__slider .slick-next {
  background: url("../img/slider_arrow_right.svg") no-repeat;
  background-size: contain;
  right: 16px;
}
.product__slide {
  height: calc((100vw - 348px - 40px - 45px - 480px - 56px) * 0.668);
}
.product__slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.product__price {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.product__price span {
  color: #454545;
  font-weight: 600;
  font-size: 36px;
  line-height: 1;
  margin-right: 10px;
}
.product__price del {
  color: #ADADAD;
  font-weight: 300;
  font-size: 36px;
  line-height: 1;
  text-decoration-thickness: 2px;
}
.product__additional {
  align-items: center;
  display: flex;
  margin-top: 5px;
}
.product__presence {
  color: #55934B;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-right: 19px;
}
.product__presence.missing {
  color: #E10000;
}
.product__additional-btn {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  padding: 0;
}
.product__additional-btn + .product__additional-btn {
  margin-left: 25px;
}
.product__additional-btn img {
  margin-right: 10px;
  height: 19px;
  width: 19px;
}
.product__additional-btn span {
  color: #787878;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
}
.product__additional-btn:hover span {
  text-decoration: none;
}
.product__cart {
  background: #E10000;
  border: 1px solid #E10000;
  border-radius: 100px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 148.99%;
  letter-spacing: 0.1em;
  margin-top: 13px;
  max-width: 391px;
  padding: 8px 0 5px;
  text-align: center;
  transition: 0.3s;
  width: 100%;
}
.product__cart:hover {
  background: transparent;
  color: #E10000;
}
.product__description {
  color: #373737;
  font-size: 16px;
  line-height: 18px;
  margin-top: 27px;
  max-width: 391px;
}
.product__table {
  background: #E4E4E4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.product__table-item {
  background: #FFFFFF;
  margin-left: 1px;
  padding: 10px 25px;
}
.product__table-item:nth-child(n+5) {
  margin-top: 1px;
}
.product__table-name {
  color: #A7A7A7;
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 114.49%;
}
.product__table-value {
  color: #373737;
  font-size: 18px;
  line-height: 114.49%;
}

.variations {
  margin-top: 81px;
}
.variations__furniture-list {
  margin-top: 19px;
}

.might-like {
  background: #F7F7F7;
  margin: 75px 0 45px;
  padding: 45px 20px 59px;
}
.might-like__furniture-list {
  display: block;
  margin: 19px -10.5px 0;
}
.might-like__furniture-list .furniture-list__item {
  display: flex;
  margin: 0 10.5px;
  height: auto;
}
.might-like__furniture-list .furniture-list__info {
  background: #FFFFFF;
}
.might-like__furniture-list > .slick-dots {
  bottom: -37px;
}
.might-like__furniture-list .slick-arrow {
  top: calc((100vw - 40px - 63px) / 4 * 0.344);
}
.might-like__furniture-list > .slick-list > .slick-track {
  display: flex;
}

.news-content {
  border: 1px solid #B1B1B1;
  padding: 26px 36px;
  overflow: hidden;
}
.news-content__img {
  float: right;
  margin: 0 0 51px 53px;
  width: 40vw;
}
.news-content__text {
  color: #373737;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.news-gallery {
  display: grid;
  grid-gap: 19px 16px;
  grid-template-columns: repeat(4, 1fr);
  margin: 17px 0 55px;
}
.news-gallery__item {
  cursor: pointer;
  height: calc((100vw - 348px - 40px - 48px) / 4 * 0.722);
  position: relative;
}
.news-gallery__item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.news-gallery__zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 71px !important;
  width: 72px !important;
}

.img-zoom-modal__img {
  object-fit: contain;
  position: relative;
  margin: 40px;
  height: calc(100vh - 60px);
  width: calc(100vw - 60px);
  z-index: 1001;
}
.img-zoom-modal .modal__close {
  z-index: 1001;
}

.filter {
  background: #FFFFFF;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: 0.3s;
  width: 348px;
  z-index: 1000;
}
.filter.active {
  transform: translateX(0);
}
.filter__close {
  background: url("../img/close_dark.svg") no-repeat;
  background-size: contain;
  border: none;
  padding-bottom: 30px;
  position: absolute;
  top: 15px;
  right: 16.62px;
  height: 16.39px;
  width: 16.39px;
}
.filter__inner {
  margin-top: 68px;
  max-height: calc(100vh - 68px);
  padding-bottom: 40px;
  overflow: auto;
}
.filter__header {
  align-items: center;
  background: none;
  border: none;
  border-bottom: 1px solid #E7E7E7;
  display: flex;
  justify-content: space-between;
  padding: 15px 23px 15px 29px;
  width: 100%;
}
.filter__header span {
  border-bottom: 1px dashed #4E4E4E;
  color: #4E4E4E;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.filter__header img {
  transition: 0.3s;
  height: 10.47px;
  width: 10.47px;
}
.filter__header.active {
  border-bottom: none;
}
.filter__header.active img {
  transform: rotate(-180deg);
}
.filter__header.active + .filter__dropdown {
  display: flex;
}
.filter__dropdown {
  border-bottom: 1px solid #E7E7E7;
  display: none;
  flex-direction: column;
  padding: 15px 23px 15px 29px;
}
.filter__checkbox {
  display: flex;
  cursor: pointer;
  width: fit-content;
}
.filter__checkbox input {
  display: none;
}
.filter__checkbox input:checked + .filter__fake-checkbox {
  background: url("../img/checkbox_checked.svg") no-repeat;
  background-size: contain;
}
.filter__checkbox input:checked + .filter__fake-radio {
  background: url("../img/radio_checked.svg") no-repeat;
  background-size: contain;
}
.filter__checkbox + .filter__checkbox {
  margin-top: 5px;
}
.filter__fake-checkbox {
  background: url("../img/checkbox.svg") no-repeat;
  background-size: contain;
  display: block;
  margin-top: 2px;
  margin-right: 10px;
  height: 18px;
  width: 18px;
}
.filter__fake-radio {
  background: url("../img/radio.svg") no-repeat;
  background-size: contain;
  display: block;
  margin-top: 2px;
  margin-right: 10px;
  height: 18px;
  width: 18px;
}
.filter__label {
  color: #4E4E4E;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.filter__btn {
  color: #403F3F;
  background: none;
  border: 1px solid #E10000;
  border-radius: 20px;
  display: block;
  font-size: 18px;
  line-height: 148.99%;
  padding: 6px 0 3px;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 17.42px auto 0;
  max-width: 223px;
  width: 100%;
  transition: 0.3s;
}
.filter__btn:hover {
  background: #E10000;
  color: #FFFFFF;
}
.filter__price-values {
  display: flex;
  justify-content: space-between;
}
.filter__price-values input {
  background: none;
  border: none;
  height: 30px;
  width: 100px;
}
.filter__max {
  text-align: right;
}
.filter__price {
  background: #c5c5c5;
  border: none !important;
  height: 3px;
  margin-top: 10px;
}
.filter__price .ui-slider-handle {
  background: #E10000;
  border: none;
  border-radius: 50%;
  top: -7px;
}
.filter__price .ui-slider-range {
  background: #E10000;
}

.reviews__list {
  margin-top: 45px;
}
.reviews__item {
  background: #FBFBFB;
  border: 1px solid #C4C4C4;
  padding: 34px 29px 24px 38px;
}
.reviews__item p {
  display: inline;
  color: #616161;
  font-style: italic;
  font-size: 18px;
  line-height: 21px;
}
.reviews__item img {
  display: inline;
  margin-right: 5px;
  height: 32px;
  width: 22px;
}
.reviews__item + .reviews__item {
  margin-top: 37px;
}
.reviews span {
  display: block;
  text-align: right;
  line-height: 1;
  color: #BEBEBE;
}
.reviews h3 {
  margin-bottom: 5px;
}
.reviews .list-with-pagination__footer {
  margin-top: 58px;
}

.review-form {
  margin: 90px 0 87px;
}
.review-form__inner {
  border: 1px solid #ABABAB;
  padding: 26px 36px 42px;
}
.review-form__title {
  color: #373737;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
}
.review-form__form {
  display: grid;
  grid-gap: 29px 39px;
  grid-template-columns: 480px 1fr;
  margin-top: 17px;
}
.review-form__name label {
  color: #616161;
  font-size: 18px;
  line-height: 125.99%;
}
.review-form__name label span {
  color: #E10000;
}
.review-form__name input {
  background: #F8F8F8;
  border: 1px solid #B1B1B1;
  font-size: 18px;
  margin-top: 6px;
  padding: 10px 15px;
  height: 54px;
  width: 100%;
}
.review-form__text {
  grid-column: 2/-1;
  grid-row: 1/3;
}
.review-form__text label {
  color: #616161;
  font-size: 18px;
  line-height: 125.99%;
}
.review-form__text label span {
  color: #E10000;
}
.review-form__text textarea {
  background: #F8F8F8;
  border: 1px solid #B1B1B1;
  font-size: 18px;
  margin-top: 6px;
  padding: 10px 15px;
  resize: none;
  height: 136px;
  width: 100%;
}
.review-form__btn button {
  background: none;
  border: 1px solid #E10000;
  border-radius: 20px;
  color: #E10000;
  font-weight: 500;
  font-size: 20px;
  line-height: 148.99%;
  padding: 8px 0 4px;
  text-align: center;
  letter-spacing: 0.1em;
  transition: 0.3s;
  width: 100%;
}
.review-form__btn button:hover {
  background: #E10000;
  color: #FFFFFF;
}
.review-form__btn p {
  color: #929292;
  font-size: 18px;
  line-height: 125.99%;
  margin-top: 17px;
  max-width: 416px;
}
.review-form__btn p a {
  color: #595959;
  transition: 0.3s;
}
.review-form__btn p a:hover {
  color: #E10000;
}

.catalog-search {
  margin-top: 19px;
}
.catalog-search__form {
  align-items: center;
  background: #F3F3F3;
  border: 1px solid #D9D9D9;
  display: grid;
  grid-template-columns: 1fr 45.55px;
}
.catalog-search__form input {
  background: none;
  border: none;
  font-size: 18px;
  padding-left: 20px;
  line-height: 1;
}
.catalog-search__form input::placeholder {
  font-style: italic;
}
.catalog-search__form input:focus {
  outline: none;
}
.catalog-search__form button {
  background: url("../img/catalog_search.svg") no-repeat center;
  background-size: 16.45px 16px;
  border: none;
  height: 41px;
}

@media screen and (max-width: 1600px) {
  .header {
    grid-template-columns: 1fr;
  }
  .header__logo {
    display: none;
  }
  .header__mobile-logo {
    display: block;
    width: 207px;
  }
  .header__top {
    padding: 20px 20px 16px;
  }
  .header__nav {
    background: #131313;
    padding: 20px;
    position: absolute;
    top: 100%;
    right: 0;
    transition: 0.3s;
    transform: translateX(calc(100% + 1px));
    max-width: max-content;
    width: 100%;
    z-index: 100;
  }
  .header__nav.active {
    transform: translateX(0);
  }
  .header__nav ul {
    align-items: flex-end;
    flex-direction: column;
  }
  .header__nav li {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding-right: 0;
    text-align: right;
  }
  .header__nav li > a {
    font-size: 20px;
    font-weight: 500;
    color: #C1C1C1;
    transition: 0.2s;
  }
  .header__nav li > a:hover {
    color: #FFFFFF;
  }
  .header__nav li + li {
    margin-top: 15px;
    padding-left: 0;
  }
  .header__nav li + li::before {
    content: none;
  }
  .header__nav-dropdown {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .header__nav-dropdown a {
    font-size: 17px;
    text-align: right;
    color: #797979;
    transition: 0.2s;
  }
  .header__nav-dropdown a:hover {
    color: #FFFFFF;
  }
  .header__nav-dropdown a + a {
    margin-top: 5px;
  }
  .header__burger {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    padding: 0;
    height: 20px;
    width: 20px;
  }
  .header__burger div {
    background: #FFFFFF;
    height: 1px;
    transition: 0.3s;
    width: 100%;
  }
  .header__burger.active div:nth-child(1) {
    transform: translateY(9.5px) rotate(-45deg);
  }
  .header__burger.active div:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
  }
  .header__burger.active div:nth-child(3) {
    transform: translateY(-9.5px) rotate(45deg);
  }
  .header__bottom {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
  }
  .header__catalog-toggle {
    align-items: center;
    background: none;
    border: none;
    display: flex;
    padding: 5px 20px;
  }
  .header__catalog-toggle img {
    height: 24px;
    margin-right: 10px;
    width: 24px;
  }
  .header__catalog-toggle span {
    color: #FFFFFF;
    display: block;
    line-height: 1;
    margin-top: 5px;
  }

  .layout {
    grid-template-columns: 1fr;
  }
  .layout__content {
    max-width: 100vw;
    padding-left: 0;
  }

  .catalog-nav {
    display: block;
    padding-bottom: 40px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: 0.3s;
    z-index: 1000;
    max-height: 100vh;
    overflow: auto;
  }
  .catalog-nav.active {
    transform: translateX(0);
  }
  .catalog-nav__close {
    background: url("../img/close.svg") no-repeat;
    background-size: contain;
    border: none;
    position: absolute;
    top: 18px;
    right: 16.62px;
    height: 16.38px;
    width: 16.38px;
  }
  .catalog-nav__category {
    cursor: pointer;
    padding: 15px;
    padding-right: 60px;
    position: relative;
  }
  .catalog-nav__category::after {
    background: url("../img/triangle.svg") no-repeat center;
    background-size: 15px auto;
    content: "";
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    transition: 0.3s;
    height: 12px;
    width: 15px;
  }
  .catalog-nav__category.active::after {
    transform: translateY(-50%) rotate(-180deg);
  }
  .catalog-nav__category.active + .catalog-nav__dropdown {
    display: block;
  }
  .catalog-nav__dropdown {
    display: none;
    padding: 0 60px 0 63px;
  }
  .catalog-nav__subcategory + .catalog-nav__subcategory {
    margin-top: 15px;
  }
  .catalog-nav__header {
    color: #606060;
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 46px;
    margin-bottom: 10px;
    position: relative;
    text-decoration: none;
    width: fit-content;
  }
  .catalog-nav__header::after {
    background: #E10000;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 1px;
    width: 80px;
  }
  .catalog-nav__link {
    color: #7D7D7D;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    width: fit-content;
  }

  .furniture-list__slider {
    height: calc((100vw - 40px - 63px) / 4 * 0.788);
  }

  .news-list__img {
    height: calc(((100vw - 40px - 99px) / 4 - 24px) * 0.739);
  }

  .product__slide {
    height: calc((100vw - 40px - 45px - 480px - 56px) * 0.668);
  }

  .might-like .slick-arrow {
    top: calc((100vw - 40px - 63px) / 4 * 0.4);
  }

  .news-gallery__item {
    height: calc((100vw - 40px - 48px) / 4 * 0.722);
  }
}
@media screen and (max-width: 1200px) {
  .footer__grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1.5fr 1.5fr 1fr;
  }

  .news-cards__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .news-cards__card {
    height: 220px;
  }
  .news-cards__card:nth-child(4) {
    display: block;
  }

  .advantages__container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .advantages__item {
    margin: 0;
  }

  .collections__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .news-list__img {
    height: calc(((100vw - 40px - 33px) / 2 - 24px) * 0.739);
  }
  .news-list__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .checkout__btn {
    align-items: flex-end;
    flex-direction: column;
    margin-top: 10px;
  }
  .checkout__btn p {
    margin-top: 10px;
    margin-right: 0;
  }

  .product__gallery {
    padding: 10px 10px 15px;
  }
  .product__slide {
    height: calc((100vw - 40px - 45px - 480px - 20px) * 0.668);
  }
  .product__table {
    grid-template-columns: repeat(2, 1fr);
  }
  .product__table-item:nth-child(n+3) {
    margin-top: 1px;
  }
}
@media screen and (max-width: 1050px) {
  .furniture-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .furniture-list__slider {
    height: calc((100vw - 40px - 21px) / 2 * 0.788);
  }

  .banner .slick-dots {
    left: 28px;
    bottom: 28px;
    transform: none;
  }

  .checkout {
    grid-template-columns: 1fr;
  }
  .checkout__form {
    order: 1;
  }

  .cart__item {
    grid-template-columns: 150px 1fr auto 200px;
  }
  .cart__img {
    height: 96px;
  }
  .cart__price {
    margin-left: 0;
  }

  .product {
    grid-template-columns: 1fr;
  }
  .product__slide {
    height: calc((100vw - 60px) * 0.668);
  }
  .product__description {
    max-width: unset;
  }

  .might-like .slick-arrow {
    top: calc((100vw - 40px - 63px) / 4 * 0.788);
  }

  .review-form__form {
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  .review-form__text {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  .review-form__btn {
    max-width: 480px;
  }
}
@media screen and (max-width: 840px) {
  .news-cards__title {
    font-size: 32px;
  }

  .cart__item {
    grid-template-columns: 150px 1fr;
  }
  .cart__count {
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .footer__grid {
    grid-template-columns: 1fr 1fr;
  }

  .banner__info {
    width: 100%;
  }

  .news-cards__grid {
    grid-template-columns: 1fr;
  }
  .news-cards__card:nth-child(4) {
    display: none;
  }

  .list-with-pagination__footer {
    grid-template-columns: 1fr;
  }
  .list-with-pagination__footer .clearfix {
    display: none;
  }
  .list-with-pagination__footer .list-with-pagination__pagination {
    justify-self: center;
  }
  .list-with-pagination__more {
    justify-self: center;
    width: fit-content;
  }

  .news-content__img {
    float: none;
    margin: 0;
    width: 100%;
  }
  .news-content__text {
    margin-top: 20px;
  }

  .news-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .news-gallery__item {
    height: calc((100vw - 40px - 48px) / 2 * 0.722);
  }
}
@media screen and (max-width: 640px) {
  .header__mobile-logo {
    width: 150px;
  }
  .header__contacts-divider {
    display: none;
  }
  .header__callback {
    display: none;
  }

  .advantages__container {
    grid-template-columns: 1fr;
  }

  .collections__grid {
    grid-template-columns: 1fr;
  }

  .catalog-categories__list {
    max-height: 214px;
    overflow-y: hidden;
  }
  .catalog-categories__more {
    display: block;
  }

  .news-list__img {
    height: calc((100vw - 40px - 24px) * 0.739);
  }
  .news-list__grid {
    grid-template-columns: 1fr;
  }

  .filter {
    width: 100%;
  }

  .catalog-nav {
    width: 70%;
  }
}
@media screen and (max-width: 580px) {
  .furniture-list {
    grid-template-columns: 1fr;
  }
  .furniture-list__slider {
    height: calc((100vw - 40px) * 0.788);
  }

  .checkout__item {
    grid-template-columns: 94px 1fr;
  }
  .checkout__price {
    justify-self: flex-start;
  }

  .might-like .slick-arrow {
    top: calc((100vw - 40px) / 2 * 0.8);
  }
}
@media screen and (max-width: 480px) {
  .header__mobile-logo {
    width: 110px;
  }
  .header__phone {
    font-size: 16px;
  }
  .header__phone span {
    font-size: 16px;
  }
  .header__bottom {
    grid-template: repeat(2, auto)/auto 1fr auto auto;
  }
  .header__catalog-toggle {
    grid-column: 1/2;
  }
  .header__search {
    grid-row: 2/3;
    grid-column: 1/-1;
    height: 40px;
  }
  .header__icon-link:nth-child(3) {
    grid-column: 3/4;
  }
  .header__icon-link:nth-child(4) {
    grid-column: 4/5;
  }

  .footer {
    padding: 36px 20px 40px;
  }
  .footer__grid {
    grid-template-columns: 1fr;
  }

  .banner .slick-dots {
    display: none;
  }
  .banner__slide {
    height: 300px;
  }
  .banner__title {
    font-size: 22px;
  }
  .banner__title span {
    font-size: 34px;
  }
  .banner__description {
    font-size: 20px;
  }
  .banner__description span {
    font-size: 34px;
  }

  .news-cards__info {
    padding: 20px;
  }
  .news-cards__title {
    font-size: 26px;
  }
  .news-cards__description {
    font-size: 18px;
  }

  .list-with-pagination__header {
    align-items: flex-end;
    flex-direction: column-reverse;
  }
  .list-with-pagination__header .list-with-pagination__pagination {
    margin-top: 15px;
  }

  .checkout__form form {
    padding: 19px 21px;
  }
  .checkout__btn p {
    font-size: 16px;
    text-align: left;
  }

  .cart__item {
    grid-gap: 20px;
    grid-template-columns: 110px 1fr;
    padding: 20px;
  }
  .cart__delete {
    top: 3px;
    right: 3px;
  }
  .cart__img {
    grid-column: 1/-1;
    height: calc((100vw - 80px) * 0.668);
  }
  .cart__info {
    grid-column: 1/-1;
  }
  .cart__count span {
    font-size: 16px;
  }
  .cart__price del {
    font-size: 18px;
  }
  .cart__price span {
    font-size: 18px;
  }

  .product {
    grid-gap: 20px;
  }
  .product__presence {
    margin-right: 10px;
  }
  .product__additional-btn img {
    margin-right: 5px;
  }
  .product__additional-btn + .product__additional-btn {
    margin-left: 10px;
  }
  .product__table-item {
    padding: 5px 10px;
  }
  .product__table-name {
    font-size: 16px;
  }
  .product__table-value {
    font-size: 16px;
  }

  .news-content {
    padding: 20px;
  }
  .news-content__text {
    font-size: 16px;
  }

  .reviews__item {
    padding: 20px 25px;
  }

  .review-form__inner {
    padding: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
